[Desktop Entry]
Type=Application
Name=ikoOSKAR
Comment=ikoOSKAR Ortak Sınav Karma Sistemi
Icon=tr.com.ikooskar.ikoOSKAR
Exec=ikoOSKAR
Categories=Education;X-GNOME-Other;
