[Desktop Entry]
Type=Application
Name=ikoOSKAR
Comment=ikoOSKAR Ortak Sınav Karma Sistemi
Icon=ikoOSKAR
Exec=ikoOSKAR
Categories=Education;X-GNOME-Other;
