* {
    font-family: "Segoe UI", Arial, Helvetica, Cantarell, "Sans Serif" !important;
}

QFrame#frmButtons > QPushButton {
    padding: 6px;
    font-size: 11pt;
}

QTabWidget, QTabBar {
    font-size: 11pt;
    font-weight: 500;
}

QTableWidget {
    font-size: 10pt;
}

QMenu {
    font-size: 11pt;
    padding: 4px;
}
